{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IoT Data Dashboard</title>
  </head>
  <body>
    <div class="dashboard-container">
      <h1>IoT Device Metrics Dashboard Hello</h1>
      <div id="data-metrics">
        <!-- Data will be dynamically inserted here -->
      </div>
    </div>
    <script>
        console.log("Hello from dashboard.js");
        const socket = new WebSocket('ws://localhost:8000/ws/data/');

        socket.onmessage = function(event) {
            const data = JSON.parse(event.data);
            console.log("Received data:", data);
            // You can now use `data` to update the frontend
        };
    </script>
  </body>
</html>
